<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<style>
  input.check {
    font-size: 2rem;
  }
</style>

<nav class="navbar navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1">The Password Generator</span>
</nav>


<div class="container text-center">
  <br>
  <br>
  <br>
  <br>

  <form action="{% url 'password' %}">
    <select name="length">
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12" selected="selected">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
    </select> Length
    <br>
    <input class="check" type="checkbox" name="uppercase"> Uppercase
    <br>
    <input class="check" type="checkbox" name="numbers"> Numbers
    <br>
    <input class="check" type="checkbox" name="special"> Special Characters
    <br>

    <input type="submit" value="Generate Password" class="btn btn-primary">
  </form>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>